<section>
    <div class="content">
        <app-headline-with-icon></app-headline-with-icon>
        <div class="pages">
            <app-offer-page></app-offer-page>
            <app-offer-page></app-offer-page>
        </div>
    </div>
    

    <div class="content">
        <div class="pages">
            <app-offer-page></app-offer-page>
        </div>
    </div>

    <div class="content">
        <div class="pages">
            <app-offer-page></app-offer-page>
        </div>
    </div>

    <div class="content">
        <div class="pages">
            <app-page></app-page>
        </div>
    </div>

    <!-- x

    <!-- <app-divider></app-divider> -->
</section>
